To generate random data in Python using a [random](https://pynative.com/python/random/) module

In [ ]:
import random
import math

In [ ]:
!python --version

Python 3.7.12

### Exercise 1
You have a list a = [1, 1, 2, 3, 5, 6, 13, 21, 34, 55, 89].

Print all even elements and sum.

In [ ]:
a = [1, 1, 2, 3, 5, 6, 13, 21, 34, 55, 89]

even = [i for i in a if i % 2 == 0] 
print("even numbers:", even) 

print("sum:", sum(even))

even numbers: [2, 6, 34]
sum: 42

### Exercise 2
Print a list that consists of the common elements of the two lists.

In [ ]:
a = [1, 1, 2, 3, 5, 6, 13, 21, 34, 55, 89]
b = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13]

list(set(a).intersection(b))

[1, 2, 3, 5, 6, 13]

### Exercise 3
Print the first n lines of [Pascal's triangle](https://en.wikipedia.org/wiki/Pascal%27s_triangle). The view can be not formatted, that is, just print lines from Pascal's triangle.

In [ ]:
n = int(input('Enter the number of lines: '))

for i in range(n):
  print("\n")
  for j in range(i + 1):
    print(math.factorial(i)//(math.factorial(j)*math.factorial(i-j)), end=" ")

Enter the number of lines: 5


1

1 1

1 2 1

1 3 3 1

1 4 6 4 1

### Exercise 4
Check if the string is a palindrome.

In [ ]:
string = input('Enter the string: ')

print(True if string == string[::-1] else False)

Enter the string: huiuh
True

### Exercise 5
Convert seconds to days:hours:minutes:seconds (without using datetime)

In [ ]:
seconds = int(input("Number of seconds: "))

days = seconds // 86400
hours = (seconds % 86400) // 3600
mins = ((seconds % 86400) % 3600) // 60
secs = ((seconds % 86400) % 3600) % 60
 
print("d:", days, "h:", hours, "m:", mins, "s:", secs)

Number of seconds: 100000
d: 1 h: 3 m: 46 s: 40

### Exercise 6
You accept a comma-separated sequence of numbers from the user. Make a list and tuple of these numbers.

In [ ]:
sequence = input("Enter the sequence: ")

input_list = sequence.split(",")
input_tuple = tuple(input_list)

print("list:", input_list)
print("tuple: ", input_tuple)

Enter the sequence: 5, 6, 7, 8, 9,0
list: ['5', ' 6', ' 7', ' 8', ' 9', '0']
tuple:  ('5', ' 6', ' 7', ' 8', ' 9', '0')

### Exercise 7
Print the first and last element of a list filled with N random integers.

In [ ]:
N = int(input())
n = list(map(int, str(N)))

print("first:", n[0], "last:", n[-1])

6238643
first: 6 last: 3

### Exercise 8
Print the file extension. If it cannot be determined, print "no extension".

In [ ]:
filename = input('File name: \n')

split_file = filename.split(".")

if len(split_file) < 2:
    print("no extension")
else:
    print("extension:", split_file[-1])

File name:
walk.jpeg
extension: jpeg

### Exercise 9
Add up the digits of the given integer.

In [ ]:
x = 12345

n = list(map(int, str(x)))
print("sum:", sum(n))

sum: 15

### Exercise 10
Сreate two lists of size 20 containing random integers from the segment [0, 30], prints them to the screen and all elements of the first that are not in the second.

In [ ]:
lst1 =  [random.randint(0,31) for i in range(20)]
lst2 =  [random.randint(0,31) for i in range(20)]

print("list 1:", lst1)
print("list 2:", lst2)
print("unique:", list(set(lst1).difference(lst2)))

list 1: [11, 11, 29, 18, 8, 9, 20, 28, 12, 31, 24, 6, 8, 0, 31, 24, 15, 27, 16, 6]
list 2: [15, 23, 5, 13, 12, 26, 18, 7, 2, 26, 8, 19, 20, 14, 4, 18, 25, 27, 26, 2]
unique: [0, 6, 9, 11, 16, 24, 28, 29, 31]

### Exercise 11
Find the number of divisors of a given integer.

In [ ]:
integer = int(input())

divisors = []
for i in range(1, integer + 1):
  if integer % i == 0:
    divisors.append(i)
print(divisors)

65
[1, 5, 13, 65]

### Exercise 12
Count input letter in the input string.

In [ ]:
string = input('string: ')
letter = input('letter: ')

count = 0
for x in string: 
  if x == letter:
    count +=1

print("count:", count)

string: the quick brown fox jumps over the lazy dog
letter: o
count: 4

### Exercise 13
Just swap the values

In [ ]:
var1 = input()
var2 = input()

print("initial:", var1, var2)

var1, var2 = var2, var1

print("swap:", var1, var2)

hi
bye
initial: hi bye
swap: bye hi

### Exercise 14
You need to check if all the numbers in the sequence are unique. The sequence consists of integers entered from the keyboard. The end of the input is the `'#'` symbol.

In [ ]:
sequence = input()

i = 0
for x in sequence:
  if x == '#':
    print("All are unique.")
    break
  elif x == sequence[i-1]:
    print("Not unique.")
    break
  i += 1

12345#
All are unique.

### Exercise 15

Create two built-in frozenset objects from strings `'reversed question'` and `'answer'`, and try to make them keys in the dct dictionary for the strings `'? Tesnezorf dna tes neewteb ecnereffid niam eht si tahw'` and **`'<your answer to the question>'`**, respectively. There is no need to reverse the answer. Finally, print out the dct dictionary.

In [ ]:
dct2 = {}

In [ ]:
question = frozenset("reversed question")
answer = frozenset("answer")
dct2[question] = "? Tesnezorf dna tes neewteb ecnereffid niam eht si tahw"
dct2[answer] = "frozenset is the same as set except the frozensets are immutable"

dct2

{frozenset({' ',
            'd',
            'e',
            'i',
            'n',
            'o',
            'q',
            'r',
            's',
            't',
            'u',
            'v'}): '? Tesnezorf dna tes neewteb ecnereffid niam eht si tahw',
 frozenset({'a',
            'e',
            'n',
            'r',
            's',
            'w'}): 'frozenset is the same as set except the frozensets are immutable'}

### Exercise 16

Find the area of a circle. You can use const `'pi'` from `'math'` module

In [ ]:
r = float(input())
area = math.pi * r ** 2

print(area)

7
153.93804002589985

### Exercise 17

Swap keys and values.

In [ ]:
dct = {x: x ** 2 for x in range(10)}
print(dct)

print(dict((v, k) for k, v in dct.items()))

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81}
{0: 0, 1: 1, 4: 2, 9: 3, 16: 4, 25: 5, 36: 6, 49: 7, 64: 8, 81: 9}

### Exercise 18

Create a variable that stores the description of this task as a string, separate the words, and convert to LOWERCASE.

In [ ]:
string = "Create a variable that stores the description of this task as a string, separate the words, and convert to LOWERCASE."
string_list = [i.lower() for i in string.split()]
print(string_list)

['create', 'a', 'variable', 'that', 'stores', 'the', 'description', 'of', 'this', 'task', 'as', 'a', 'string,', 'separate', 'the', 'words,', 'and', 'convert', 'to', 'lowercase.']

### Exercise 19
Print the sorted words from the previous exercise in reverse lexicographical order.

In [ ]:
print(sorted(string_list))

['a', 'a', 'and', 'as', 'convert', 'create', 'description', 'lowercase.', 'of', 'separate', 'stores', 'string,', 'task', 'that', 'the', 'the', 'this', 'to', 'variable', 'words,']

### Exercise 20

Write code that reverses all odd-numbered elements of lst in reverse order.

That is, if lst = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9], then you should get [0, 9, 2, 7, 4, 5, 6, 3, 8, 1]

In [ ]:
lst = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

even = [i for i in lst if i % 2 == 0]
odd = [i for i in lst if i % 2 == 1]
print(odd)
print(even)
odd = odd[::-1]

print([x for y in zip(even, odd) for x in y])

[1, 3, 5, 7, 9]
[0, 2, 4, 6, 8]
[0, 9, 2, 7, 4, 5, 6, 3, 8, 1]